<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>oauthScopes</key>
    <array>
        <string>web</string>
        <string>api</string>
    </array>
    <key>oauthRedirectURI</key>
    <string>sfdc://success/ios</string>
    <key>remoteAccessConsumerKey</key>
    <string>3MVG92H4TjwUcLlLvIMWkOuic3bII9pd.5HcJXJMHYf_ATSEtbSV54TjF3mCCbjmV4dcKVnxCGGGih_LB6qo3</string>
    <key>shouldAuthenticate</key>
    <true/>
</dict>
</plist>
